<h1>New Tweet</h1>
<%= form_for(@tweet) do |f| %>
<%= if @tweet.errors.any? %>
  <div class="error_explanation">
    <h2><%= pluralize(@tweet.errors.count, 'error')%> prohibited this tweet from being saved:</h2>
    <ul>
      <% @tweet.errors.messages.each do |message| %>
      <li><%= message%></li>
    </ul>
  </div>
<% end %>

<div class="field">
  <%= f.label :message <%><br>
  <%= f.text_field :message <%><br>
</div>
<div class="field">
  <%= f.label :user_id <%><br>
  <%= f.text_field :user_id, value: current_user.id <%><br>
</div>
<div class="actions">
  <% f.submit "Tweet!", class: "btn btn-primary" %>
</div>
